/* For All devices */

/* Mobile */
@media (min-width: 400px) {

    #fond {
        height: 15vh;
    }

    #title {
        display: flex;
        justify-content: center;
    }
    
    h2 {
        padding-top: 3vh;
        margin-left: 1vh;
        margin-right: 1vh;
        font-size: 3vh;
        display: flex;
        justify-content: center; 
    }
    
    .btn {
        background-color: white;
        color: blue;
        width: 3vh;
    }
    
    .card {
    
        display: flex;
        align-items: center;
        width: 1vh;
    }
    
    .Card.title {
        font-size: 30vh;
    }
    
    .card.text {
        font-size: 2vh;
    }
    
    .realisations {
      width: 30rem;
      padding-left: 0px;
      padding-right: 0px;
      border-top-width: 0px;
      border-top-style: solid;
      border-bottom-width: 0px;
      border-bottom-style: solid;
      display: flex;
      align-items: center;
    }
    
    /*Tablette*/
    @media (min-width: 700px) {
    
        #fond {
            height: 10vh;
        }
        
        h2 {
            padding-top: 3vh;
            margin-right: 1vh;
            font-size: 3vh;
            display: flex;
            justify-content: center; 
        }
        
        h3 {
            padding-top: 1vh;
            font-size: 1.7vh;
            display: flex;
            justify-content: center; 
            padding-bottom: 2vh;
        }
        
        .btn {
            background-color: white;
            color: blue;
            width: 3vh;
        }
        
        .card {
        
            display: flex;
            align-items: center;
        }
        
        
        .realisations {
          width: 30rem;
          padding-left: 0px;
          padding-right: 0px;
          border-top-width: 0px;
          border-top-style: solid;
          border-bottom-width: 0px;
          border-bottom-style: solid;
          display: flex;
          align-items: center;
        }
    
    
    .btn {
            background-color: white;
            color: blue;
            width: 3vh;
        }
    
        #realisations {
            display: flex;
            flex-direction: row;
            
           
        }
        }
    
    }
        
    /*Desktop*/
    @media (min-width: 1200px) {
    
        #fond {
            height: 4vh;
        }
        
        h2 {
            padding-top: 3vh;
        }
        
        h3 {
            font-size: 3vh;
        }
        
        #title {
            display: flex;
            align-items: center;
        }
    
        .btn {
            background-color: white;
            color: blue;
            width: 3vh;
        }
        
        .card {
        
            display: flex;
            align-items: center;
            padding-left: 2vh;
            width: 17vh;
            
        }
    
        .Card.title {
            font-size: 30vh;
        }
    
        .card.text {
            font-size: 2vh;
        }
    
    #realisations {
        display: flex;
        flex-direction: row;
    }
    
    }
    
    
    