/* For All devices */

/* Mobile */
@media (min-width: 300px) {

#fond {
    height: 20vh;
    width: 150vh;
}

h2 {
    padding-top: 3vh;
    font-size: 4vh;
    font-weight:510;
    display: flex;
    padding-left: 15vh;
}

h3 {
    padding-top: 3vh;
    font-size: 2vh;
    display: flex;
    justify-content: center; 
    padding-bottom: 2vh;
 
}

.btn {
    background-color: white;
    color: #0d6efd;
    width: 10vh;
}


.realisations {
  width: 20rem;
  padding-left: 0px;
  padding-right: 0px;
  border-top-width: 0px;
  border-top-style: solid;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
}

.border {
    border: solid 2em;
    border-width: 2em;
}

/*Tablette*/
@media (min-width: 700px) {

    #fond {
        height: 40vh;
        width: 200vh;
    }
    
    h2 {
        padding-top: 5vh;
        margin-right: 2vh;
        font-size: 3vh;
        display: flex;
        justify-content: center; 
    }
    
    h3 {
        padding-top: 1vh;
        font-size: 1.7vh;
        display: flex;
        justify-content: center; 
        padding-bottom: 2vh;
    }
    
    .btn {
        background-color: white;
        color: blue;
        width: 3vh;
    }
        
.card {
    display: flex;

}

#realisations {
    display: flex;
    flex-direction: row;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-left: 25vh;
}



}
    
/*Desktop*/
@media (min-width: 1200px) {

    #fond {
        height: 50vh;
    }
    
    h2 {
        padding-top: 3vh;
    }
    
    h3 {
        font-size: 3vh;
    }
    
    #title {
        display: flex;
        align-items: center;
    }

    .btn {
        background-color: white;
        color: blue;
        width: 3vh;
    }
    
    .card {
        display: flex;
        flex-direction: row;;
    }


}


