/* For All devices */

/* Mobile */
@media (min-width: 400px) {

#fond {
    height: 15vh;
}

h2 {
    padding-top: 3vh;
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 3.5vh;
    font-weight:510;
    display: flex;
    justify-content: center; 
}

h3 {
    padding-top: 1vh;
    font-size: 2.5vh;
    display: flex;
    justify-content: center; 
    padding-bottom: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.btn {
    background-color: white;
    color: #0d6efd;
    width: 6vh;
}

.card {
    display: flex;
    align-items: center;
    width: 65vh;
}

.Card.title {
    font-size: 60vh;
    font-weight: bold;
}

.card.text {
    font-size: 2vh;
}

.realisations {
  width: 30rem;
  padding-left: 0px;
  padding-right: 0px;
  border-top-width: 0px;
  border-top-style: solid;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
}

.border {
    border: solid 2em;
    border-width: 2em;
}

/*Tablette*/
@media (min-width: 700px) {

    #fond {
        height: 40vh;
        width: 200vh;
    }
    
    h2 {
        padding-top: 5vh;
        margin-right: 2vh;
        font-size: 3vh;
        display: flex;
        justify-content: center; 
    }
    
    h3 {
        padding-top: 1vh;
        font-size: 1.7vh;
        display: flex;
        justify-content: center; 
        padding-bottom: 2vh;
    }
    
    .btn {
        background-color: white;
        color: blue;
        width: 3vh;
    }
    
    .card {
    
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    
    .realisations {
      width: 30rem;
      padding-left: 20px;
      padding-right: 20px;
      border-top-width: 0px;
      border-top-style: solid;
      border-bottom-width: 0px;
      border-bottom-style: solid;
      display: flex;
      align-items: center;
    }


.btn {
        background-color: white;
        color: blue;
        width: 3vh;
    }

    #realisations {
        display: flex;
        flex-direction: row;
        
        
       
    }
    }

}
    
/*Desktop*/
@media (min-width: 1200px) {

    #fond {
        height: 4vh;
    }
    
    h2 {
        padding-top: 3vh;
    }
    
    h3 {
        font-size: 3vh;
    }
    
    #title {
        display: flex;
        align-items: center;
    }

    .btn {
        background-color: white;
        color: blue;
        width: 3vh;
    }
    
    .card {
    
        display: flex;
        align-items: center;
        padding-left: 2vh;
        width: 17vh;
        
    }

    .Card.title {
        font-size: 30vh;
    }

    .card.text {
        font-size: 2vh;
    }

#realisations {
    display: flex;
    flex-direction: row;
}

}


