/* For All devices */

/* Header */
* {
  font-family: "nunitoSans",sans-serif;
  width: 100;
}

#navbar {
  background-color: #1e1e1e ;
  height: 10vh;
}

#brand {
  color: white;
  font-size: 4vh;
  font-weight: bold;
  padding-right: 10vh;
  padding-top: 1vh;
}

/* Home */

#Introduction {
  background-image: url("./src/assets/home-me.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
}

/* Footer */

#footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 2em;
}

#Name {
  font-size: 3vh;
  font-weight: bold;
}

#github {
  width: 10px;
}

#X {
  width: 10px;
}

#linkedin {
  width: 10px;
}


/* Mobile */
@media (min-width: 576px) {
.me-auto {
  text-transform: uppercase;
}
.link {
  background-color: #1e1e1e;
  width: 100%;
  color:#444
}

.link:hover {
  color:white;
}

/* Home */

#hello {
  font-size: 50vh;
  color: white;
}

#job {
  color: white;
}

#btn {
  background-color: #0d6efd;
}

p {
  font-size: 6vh;
  margin-left: 20vh;
}

#me-home {
  width: 1vh;
}

#skills {
  width: 2vh;
}

}

/* Footer */



/*Tablette*/

/* Header */

@media (max-width: 768px) {
  .me-auto {
    text-transform: uppercase;
  }
  .link {
    background-color: #1e1e1e;
    width: 100%;
    color:#444
  }
  
  .link:hover {
    color:white;
  }

/* Home */



/* Footer */

}



/*Desktop*/

/* Header */

@media (min-width: 992px) {

  #me-auto {
    width: 80vh;
    display: flex;
    align-content: flex-end;
  }

  .link {
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  .link:hover {
    color: white;
  }

/* Home */

/* Footer */
}